section[class*="-section"] {

	.section-header {
		margin-bottom: 3rem;

		.section-description {
			color: var(--subdued-body);
		}
	}
}

.page-header {

	&.page-header-spacing {

		.container,
		& > .wp-block-group__inner-container {
			@include section-container__page-header;
		}
	}

	.page-title {
		margin-bottom: .75rem;

		&:last-child {
			margin-bottom: 0;
		}

	}

	.page-description {
		color: var(--subdued-body);
		max-width: 640px;

		&.has-text-align-center,
		.has-text-align-center {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.entry-meta {
		margin-top: 1rem;
	}

	form.search-form {

		.search-field {
			width: clamp(13rem, 50vw, 18rem);
		}
	}
}

.archive,
.search {

	.page-header {

		.page-title {
			color: var(--subdued-body);
			font-size: $font-size-small;
			line-height: 1;
			text-transform: uppercase;

			span {
				color: var(--body);
				line-height: 1.2;
				text-transform: none;
			}
		}
	}
}