.sidebar-col {
	@include heading-font-reduced;

	.widget_block {
		margin-bottom: clamp(1.5rem, 3.4vw, 2.5rem);

		ul {
			padding-left: 0;
			margin-left: 0;
		}
	}

	.wp-block-latest-comments {
		padding-left: 0;
	}

	.widget_search {

		.wp-block-search__label {
			display: none;
		}
	}
}