/**
 * Feel free to configure your own Sass variables here.
 *
 * By default, the theme only uses CSS variables.
 */

// Fonts
$font-body:    'Red Hat Display', sans-serif;
$font-heading: 'Cal Sans', sans-serif;

// Buttons
$button-border-radius: 5px;

// UI font sizes
$font-size-small:  .88rem; // captions, labels, secondary UI
$font-size-xsmall: .83rem; // meta text, timestamps, fine print

// WordPress admin bar heights (used for mobile nav offset)
$wp-admin-bar-height-mobile:  46px;
$wp-admin-bar-height-desktop: 32px;
