// Make Sass variables available for editor stylesheets
@import "_variables";
@import "_colors";

// Make Sass mixins available for editor stylesheets
@import "_mixins";

// Front-end styles shared with editor
@import "_reset";
@import "_typography";
@import "_markup-formatting";
@import "_forms";
@import "_blocks";
@import "_sections";

/**
 * These styles are applied to the editor, separate from front-end styles.
 */
body {

	/* The post title - let's visually separate it from the post_content */
	.edit-post-visual-editor__post-title-wrapper {
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
		padding-bottom: 1.5rem;
	}

	/* All user-generated post_content */
	.wp-block-post-content {

		/* Top-level blocks in the post content */
		& > [class*="wp-block-"] {
			@include block-section-containers;
		}
	}

	/* Core block: Group */
	.wp-block-group {

		&.is-layout-constrained {

			/* Group type: page-header */
			&.page-header {

				& > .wp-block-group__inner-container {

					.wp-block-buttons {
						margin: clamp(1rem, 2.5vw, 2rem) 0;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	/* Core block: Search */
	.wp-block-search {

		.wp-block-search__input {
			width: unset;
		}
	}

	/**
	 * Markup & formatting tweaks
	 */

	@include heading-font-reduced;
}
