// Normalize the editor too
@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";

// Make Sass variables available for editor stylesheets
@import "_variables";
@import "_colors";

// Make Sass mixins available for editor stylesheets
@import "_mixins";

// Keep some front-end styles consistent in editor
@import "_typography";
@import "_blocks";

/**
 * These styles are applied to the editor, separate from front-end styles.
 */
body {

	* {
		box-sizing: border-box;
	}

	/* The post title - let's visually separate it from the post_content */
	.edit-post-visual-editor__post-title-wrapper {
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
		padding-bottom: 1.5rem;
	}

	/* All user-generated post_content */
	.wp-block-post-content {

		/* Top-level blocks in the post content */
		& > [class*="wp-block-"] {
			@include block-section-containers;
		}
	}

	/* Core block: Group */
	.wp-block-group {

		&.is-layout-constrained {

			/* Group type: page-header */
			&.page-header {

				& > .wp-block-group__inner-container {

					.wp-block-buttons {
						margin: clamp(1rem, 2.5vw, 2rem) 0;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	/* Core block: Search */
	.wp-block-search {

		.wp-block-search__input {
			width: unset;
		}
	}

	/* Core block: Button */
	.wp-block-button__link,
	.wp-block-file__button,
	.wp-block-search__button {
		background-color: var(--action);
		border: 0;
		border-radius: $button-border-radius;
		color: var(--white);
		display: inline-block;
		font-family: $font-heading;
		font-size: $font-size-small;
		padding: .53em 1.7em;
		text-transform: uppercase;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			color: var(--white);
			cursor: pointer;
			opacity: .8;
		}
	}

	.wp-block-button {

		&.is-style-outline {

			.wp-element-button {
				background-color: transparent;
				border: 2px solid var(--action);
				color: var(--action);
				padding: calc( .53em - 2px ) calc( 1.7em - 2px);

				&:active,
				&:focus,
				&:hover {
					background-color: var(--action);
					border-color: transparent;
					color: var(--white);
					cursor: pointer;
				}
			}
		}
	}

	/**
	 * Markup & formatting tweaks
	 */

	@include heading-font-reduced;
}