@charset "UTF-8";
/**
 * Feel free to configure your own Sass variables here.
 *
 * By default, the theme only uses CSS variables.
 */
:root {
  --white: #fff;
  --translucent-light: rgba(255,255,255,.15);
  --translucent-dark: rgba(0,0,0,.15);
}

body {
  color: var(--body);
}

/* White */
.has-white-color {
  color: #fff;
}

.has-white-background-color {
  background-color: #fff;
}

/* Body */
.has-body-color {
  color: var(--body);
}

.has-body-background-color {
  background-color: var(--body);
}

/* Body - Subdued */
.has-subdued-body-color {
  color: var(--subdued-body);
}

.has-subdued-body-background-color {
  background-color: var(--subdued-body);
}

/* Lightest */
.has-the-lightest-color {
  color: var(--lightest);
}

.background-lightest,
.has-the-lightest-background-color {
  background-color: var(--lightest);
}

/* Darkest */
.has-the-darkest-color {
  color: var(--darkest);
}

.has-the-darkest-background-color {
  background-color: var(--darkest);
}

/* Action */
.has-action-color {
  color: var(--action);
}

.has-action-background-color {
  background-color: var(--action);
}

/* Translucent - Light */
.has-translucent-light-background-color {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Translucent - Dark */
.has-translucent-dark-background-color {
  background-color: rgba(0, 0, 0, 0.15);
}

/**
 * The container's x-axis rules
 */
/**
 * Represents: class="container"
 */
/**
 * Represents: class="container tiny"
 */
/**
 * Represents: class="container small"
 */
/**
 * Represents: class="container medium"
 * Same as default. Exists for consistency.
 */
/**
 * Represents: class="container large"
 */
/**
 * Represents: class="container huge"
 */
/**
 * Represents: class="container no-vertical-spacing"
 */
/**
 * Applies all section container size variants to block inner containers.
 * Used in both the front-end Page Sections template and the block editor.
 */
/**
 * Uniformly reduces font size of headings for tight areas
 */
html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.page-title,
.section-title,
.archive .page-title span,
.search .page-title span {
  display: block;
  font-family: "Cal Sans", sans-serif;
  line-height: 1.4;
  margin: 0 0 clamp(1rem, 1.75vw, 1.25rem);
}

h1, .h1,
h2, .h2,
.page-header.wp-block-group > .wp-block-group__inner-container > h1:first-child,
.page-header.wp-block-group > .wp-block-group__inner-container > h2:first-child,
.page-header.wp-block-group > .wp-block-group__inner-container > h3:first-child {
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h3, .h3,
.section-title,
.page-title,
.archive .page-title span,
.search .page-title span {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.25rem, 5vw, 2.25rem);
}

h5, .h5,
h6, .h6 {
  font-size: 1.25rem;
}

p {
  margin-bottom: clamp(1.25rem, 2vw, 1.67rem);
}
p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0 0 clamp(1.25rem, 2vw, 1.67rem) 1.25rem;
  padding-left: 1rem;
}
ul li,
ol li {
  margin-bottom: 0.5rem;
}
ul li ul,
ul li ol,
ol li ul,
ol li ol {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

a {
  color: var(--action);
  text-decoration: underline;
}
a:active, a:hover, a:focus {
  color: var(--action);
  text-decoration: none;
}

iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figcaption,
.wp-caption-text {
  font-size: 1rem;
  font-style: italic;
}

q {
  font-style: italic;
  font-weight: 500;
}

pre {
  background-color: var(--lightest);
  padding: 1.5rem;
}

address {
  margin-bottom: 1.25rem;
}

table {
  font-size: 0.88rem;
}

@media all and (min-width: 768px) {
  .alignleft {
    float: left;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
  }
}

@media all and (min-width: 768px) {
  .alignright {
    float: right;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
}

.entry-content:not(.page-sections-content) h1, .entry-content:not(.page-sections-content) .h1,
.entry-content:not(.page-sections-content) h2, .entry-content:not(.page-sections-content) .h2,
.comment-content h1,
.comment-content .h1,
.comment-content h2,
.comment-content .h2 {
  font-size: 2rem;
}
.entry-content:not(.page-sections-content) h3, .entry-content:not(.page-sections-content) .h3,
.comment-content h3,
.comment-content .h3 {
  font-size: 1.5rem;
}
.entry-content:not(.page-sections-content) h4, .entry-content:not(.page-sections-content) .h4,
.comment-content h4,
.comment-content .h4 {
  color: var(--subdued-body);
  font-size: 1.25rem;
}
.entry-content:not(.page-sections-content) h5, .entry-content:not(.page-sections-content) .h5,
.entry-content:not(.page-sections-content) h6, .entry-content:not(.page-sections-content) .h6,
.comment-content h5,
.comment-content .h5,
.comment-content h6,
.comment-content .h6 {
  font-size: 1rem;
}
.entry-content:not(.page-sections-content) h6, .entry-content:not(.page-sections-content) .h6,
.comment-content h6,
.comment-content .h6 {
  color: var(--subdued-body);
}
.entry-content:not(.page-sections-content) > [class*=wp-block-]:last-child,
.comment-content > [class*=wp-block-]:last-child {
  margin-bottom: 0;
}
.entry-content:not(.page-sections-content) figure,
.entry-content:not(.page-sections-content) img,
.comment-content figure,
.comment-content img {
  max-width: 100%;
}

/**
 * Core block styles - both front-end and editor
 */
.wp-block-quote,
.wp-block-quote-editor {
  background-color: var(--lightest);
  padding: clamp(1.25rem, 2.6vw, 2rem) clamp(1.5rem, 2.6vw, 2rem);
}
.wp-block-quote cite,
.wp-block-quote-editor cite {
  color: var(--subdued-body);
  font-size: 0.88rem;
}
.wp-block-quote cite:before,
.wp-block-quote-editor cite:before {
  content: "— ";
}

.wp-block-pullquote,
.wp-block-pullquote-editor {
  background-color: var(--lightest);
  padding: clamp(2.5rem, 5.5vw, 4.5rem) clamp(2rem, 4vw, 3rem);
}
.wp-block-pullquote blockquote p,
.wp-block-pullquote-editor blockquote p {
  font-family: "Cal Sans", sans-serif;
  font-size: clamp(1.15rem, 2vw, 1.5rem);
}
.wp-block-pullquote blockquote cite,
.wp-block-pullquote-editor blockquote cite {
  color: var(--subdued-body);
  font-size: 0.88rem;
}
.wp-block-pullquote blockquote cite:before,
.wp-block-pullquote-editor blockquote cite:before {
  content: "— ";
}

.wp-block-code,
.wp-block-code-editor,
.wp-block-preformatted,
.wp-block-preformatted-editor {
  font-size: 0.88rem;
}

.wp-block-table .wp-element-caption,
.wp-block-table-editor .wp-element-caption {
  padding-top: 10px;
}

.wp-block-gallery.has-background,
.wp-block-gallery-editor.has-background {
  padding: 1rem;
}

.wp-block-audio,
.wp-block-audio-editor {
  background-color: var(--lightest);
  padding: 1.5rem 1.25rem 1rem;
}

.wp-block-file,
.wp-block-file-editor {
  background-color: var(--lightest);
  padding: 1.5rem;
  text-align: center;
}
.wp-block-file .wp-block-file__button,
.wp-block-file-editor .wp-block-file__button {
  display: inline-block;
}

.wp-block-table-of-contents,
.wp-block-table-of-contents-editor {
  background-color: var(--lightest);
  font-size: 85%;
  padding: 2rem;
}
@media all and (min-width: 768px) {
  .wp-block-table-of-contents.alignright,
  .wp-block-table-of-contents-editor.alignright {
    margin-left: 2.5rem;
  }
}
@media all and (min-width: 768px) {
  .wp-block-table-of-contents.alignleft,
  .wp-block-table-of-contents-editor.alignleft {
    margin-right: 2.5rem;
  }
}
.wp-block-table-of-contents > ol,
.wp-block-table-of-contents-editor > ol {
  margin-left: 0;
}
.wp-block-table-of-contents ol,
.wp-block-table-of-contents-editor ol {
  margin-bottom: 0;
}
.wp-block-table-of-contents ol ol,
.wp-block-table-of-contents ol ul,
.wp-block-table-of-contents-editor ol ol,
.wp-block-table-of-contents-editor ol ul {
  padding-left: 1rem;
}
.wp-block-table-of-contents a,
.wp-block-table-of-contents-editor a {
  color: var(--subdued-action);
}
.wp-block-table-of-contents a:active, .wp-block-table-of-contents a:focus, .wp-block-table-of-contents a:hover,
.wp-block-table-of-contents-editor a:active,
.wp-block-table-of-contents-editor a:focus,
.wp-block-table-of-contents-editor a:hover {
  color: var(--body);
}

.wp-block-search .wp-block-search__inside-wrapper,
.wp-block-search-editor .wp-block-search__inside-wrapper {
  background-color: var(--lightest);
  border: none;
  padding: 8px;
}

.wp-block-preformatted,
.wp-block-preformatted-editor {
  background-color: var(--lightest);
  padding: 1.5rem;
}

/**
 * These styles are applied to the editor, separate from front-end styles.
 */
body {
  /* The post title - let's visually separate it from the post_content */
  /* All user-generated post_content */
  /* Core block: Group */
  /* Core block: Search */
  /* Core block: Button */
  /**
   * Markup & formatting tweaks
   */
}
body * {
  box-sizing: border-box;
}
body .edit-post-visual-editor__post-title-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
}
body .wp-block-post-content {
  /* Top-level blocks in the post content */
}
body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
  padding-left: clamp(1.5rem, 2.6vw, 2rem);
  padding-right: clamp(1.5rem, 2.6vw, 2rem);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media all and (min-width: 576px) {
  body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
    max-width: 540px;
  }
}
@media all and (min-width: 768px) {
  body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
    max-width: 720px;
  }
}
@media all and (min-width: 992px) {
  body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
    max-width: 1140px;
  }
}
@media all and (min-width: 1400px) {
  body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
    max-width: 1320px;
  }
}
body .wp-block-post-content > [class*=wp-block-] > [class*=__inner-container] {
  padding-bottom: clamp(2rem, 6.45vw, 5rem);
  padding-top: clamp(2rem, 6.45vw, 5rem);
}
body .wp-block-post-content > [class*=wp-block-].tiny > [class*=__inner-container] {
  padding-bottom: clamp(1rem, 1.93vw, 1.5rem);
  padding-top: clamp(1rem, 1.93vw, 1.5rem);
}
body .wp-block-post-content > [class*=wp-block-].small > [class*=__inner-container] {
  padding-bottom: clamp(1.5rem, 3.86vw, 3rem);
  padding-top: clamp(1.5rem, 3.86vw, 3rem);
}
body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
  padding-left: clamp(1.5rem, 2.6vw, 2rem);
  padding-right: clamp(1.5rem, 2.6vw, 2rem);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media all and (min-width: 576px) {
  body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
    max-width: 540px;
  }
}
@media all and (min-width: 768px) {
  body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
    max-width: 720px;
  }
}
@media all and (min-width: 992px) {
  body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
    max-width: 960px;
  }
}
@media all and (min-width: 1200px) {
  body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
    max-width: 1140px;
  }
}
@media all and (min-width: 1400px) {
  body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
    max-width: 1320px;
  }
}
body .wp-block-post-content > [class*=wp-block-].medium > [class*=__inner-container] {
  padding-bottom: clamp(2rem, 6.45vw, 5rem);
  padding-top: clamp(2rem, 6.45vw, 5rem);
}
body .wp-block-post-content > [class*=wp-block-].large > [class*=__inner-container] {
  padding-bottom: clamp(2.25rem, 9vw, 7rem);
  padding-top: clamp(2.25rem, 9vw, 7rem);
}
body .wp-block-post-content > [class*=wp-block-].huge > [class*=__inner-container] {
  padding-bottom: clamp(2.5rem, 11.6vw, 9rem);
  padding-top: clamp(2.5rem, 11.6vw, 9rem);
}
body .wp-block-post-content > [class*=wp-block-].no-vertical-spacing > [class*=__inner-container] {
  padding-bottom: 0;
  padding-top: 0;
}
body .wp-block-group.is-layout-constrained {
  /* Group type: page-header */
}
body .wp-block-group.is-layout-constrained.page-header > .wp-block-group__inner-container .wp-block-buttons {
  margin: clamp(1rem, 2.5vw, 2rem) 0;
}
body .wp-block-group.is-layout-constrained.page-header > .wp-block-group__inner-container .wp-block-buttons:last-child {
  margin-bottom: 0;
}
body .wp-block-search .wp-block-search__input {
  width: unset;
}
body .wp-block-button__link,
body .wp-block-file__button,
body .wp-block-search__button {
  background-color: var(--action);
  border: 0;
  border-radius: 5px;
  color: var(--white);
  display: inline-block;
  font-family: "Cal Sans", sans-serif;
  font-size: 0.88rem;
  padding: 0.53em 1.7em;
  text-transform: uppercase;
  text-decoration: none;
}
body .wp-block-button__link:active, body .wp-block-button__link:focus, body .wp-block-button__link:hover,
body .wp-block-file__button:active,
body .wp-block-file__button:focus,
body .wp-block-file__button:hover,
body .wp-block-search__button:active,
body .wp-block-search__button:focus,
body .wp-block-search__button:hover {
  color: var(--white);
  cursor: pointer;
  opacity: 0.8;
}
body .wp-block-button.is-style-outline .wp-element-button {
  background-color: transparent;
  border: 2px solid var(--action);
  color: var(--action);
  padding: calc(0.53em - 2px) calc(1.7em - 2px);
}
body .wp-block-button.is-style-outline .wp-element-button:active, body .wp-block-button.is-style-outline .wp-element-button:focus, body .wp-block-button.is-style-outline .wp-element-button:hover {
  background-color: var(--action);
  border-color: transparent;
  color: var(--white);
  cursor: pointer;
}
body h1, body .h1,
body h2, body .h2 {
  font-size: 2rem;
}
body h3, body .h3 {
  font-size: 1.5rem;
}
body h4, body .h4 {
  color: var(--subdued-body);
  font-size: 1.25rem;
}
body h5, body .h5,
body h6, body .h6 {
  font-size: 1rem;
}
body h6, body .h6 {
  color: var(--subdued-body);
}

/*# sourceMappingURL=editor-style.css.map */
